body{
    height: 100vh;
    background-image: url(./download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 4em;
    color: magenta;
    text-decoration: dotted underline;
}
#cake{
    position: absolute;
}